apiVersion: v1
kind: Service
metadata:
  name: cloud-config
  namespace: microservices-production
spec:
  type: ClusterIP
  selector:
    app: cloud-config
  ports:
    - port: 9296
      targetPort: 9296
---
apiVersion: v1
kind: Service
metadata:
  name: zipkin
  namespace: microservices-production
spec:
  type: ClusterIP
  selector:
    app: zipkin
  ports:
    - port: 9411
      targetPort: 9411
