apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-custom-config
  namespace: monitoring
data:
  prometheus-additional.yml: |
    - job_name: 'api-gateway'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: api-gateway
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:8080
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/actuator/prometheus'

    - job_name: 'user-service'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: user-service
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:8400
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/user-service/actuator/prometheus'

    - job_name: 'product-service'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: product-service
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:8500
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/product-service/actuator/prometheus'

    - job_name: 'order-service'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: order-service
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:8300
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/order-service/actuator/prometheus'

    - job_name: 'payment-service'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: payment-service
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:8600
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/payment-service/actuator/prometheus'

    - job_name: 'favourite-service'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: favourite-service
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:8900
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/favourite-service/actuator/prometheus'

    - job_name: 'service-discovery'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: service-discovery
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:8761
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/actuator/prometheus'

    - job_name: 'cloud-config'
      kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
          - microservices-production
      relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: cloud-config
      - source_labels: [__meta_kubernetes_pod_ip]
        action: replace
        target_label: __address__
        replacement: $1:9296
      - source_labels: [__meta_kubernetes_pod_name]
        action: replace
        target_label: pod
      metrics_path: '/actuator/prometheus'
